.contentTitle {
  font-size: 1.7rem;
}

.contentLink {
  font-size: 1.2rem;
}

.containerOfCat {
  position: relative;
  text-align: center;
}

.contactInfo {
  position: absolute;
  margin-top: 20%;
  margin-left: 30%;
}

.responsive {
  height: auto;
  margin-left: 10%;
}

@media screen and (max-width: 812px) {
  .containerOfCat {
    width: 800px;
  }

  .contactInfo {
    margin-left: 8%;
    margin-top: 25%;
  }

  .responsive {
    width: auto;
    height: 200px;
    margin-left: 20%;
    margin-top: 8%;
  }
}
