.titleArea {
  display: flex;
  margin-bottom: 3vh;
}

.titleItem {
  margin-right: 1vh;
}

.sectionArea {
  width: 900px;
  margin: auto;
}

@media screen and (max-width: 812px) {
  .sectionArea {
    width: 500px;
    margin: auto;
  }
}
