.aboutMe{
    width: 80em;
    margin: auto;
    text-align: center;
}

.image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.social{
    padding-top: 2em; 
} 

.contactInfo{
    display: flex;
}

.contactDetail{
    padding: 3em;
}