.aboutMe{
    width: 80em;
    margin: auto;
    text-align: center;
}

.image{
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5em;
}
  
.social{
    padding-top: 2em; 
} 


.card{
    /* display: block; */
    justify-content: center; 
    margin-top: 10em;
}
