.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin: 0 auto;
}

.container #contact{
    align-self: left;
}

.divider{
    width: 30em;
    display: inline-flex;
}

.contactInfo{
    display: inline;
}

#contact {
    position: absolute;
    top: 302px;
}